.pregunta1 {
    background-color: blue;
}
.pregunta2{
    background-color: rgb(165, 68, 221);
}
.pregunta3{
    color: rgb(225, 0, 255);
}
.pregunta5{
    background-color: rgb(233, 52, 158);
}
.pregunta7{
    background-color: aqua;
}
.pregunta8{
    background-color: rgb(42, 165, 149);
}